<nav class="navbar navbar-light bg-light justify-content-between">
               <div id="mySidenav" class="sidenav" style="width: 100%;">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                  <a href="/">Home</a>
                  <a href="/computer">Computers</a>
                  <a href="/mans">Mans Clothes</a>
                  <a href="/womans">Womans Clothes</a>
                  <a href="/contact">Contact</a>
               </div>
               <span style="font-size:30px;cursor:pointer; color: #fff;" onclick="openNav()"><img src="images/toggle-icon.png"></span>
               <a class="navbar-brand" href="/"><img src="images/logo.png"></a>
               <form class="form-inline ">
                  <div class="login_text">
                     <ul>
                        <li><a href="#"><img src="images/user-icon.png"></a></li>
                        <li><a href="#"><img src="images/trolly-icon.png"></a></li>
                        <li><a href="#"><img src="images/search-icon.png"></a></li>
                     </ul>
                  </div>
               </form>
            </nav>