<form action="/computer/create/admin/axadxon" enctype="multipart/form-data" method="POST">

  <input type="text" placeholder="type" name="type" />
  <input type="text" placeholder="name" name="name" />
  <input type="text" placeholder="price" name="price" />
  <input type="text" placeholder="stock" name="stock" />
  <input type="file" placeholder="images" name="img" />


  <button type="submit">create</button>

</form>